<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KajHobe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>605FF2E62E0871CF00C5C463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605FF2F32E0871D300C5C463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605FF2FD2E0871D300C5C463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
